<div class="row">
     <div class="span12">
        
        <!-- Contact starts -->
        
        <div class="contact">
           <div class="row">
              <div class="span12">
              
                 <!-- Contact hero -->
                 <div class="hero">
                    <!-- Title. Don't forget the <span> tag -->
                    <h3><span> You speak, we listen...</span></h3>
                    <!-- para -->
                    <p>e-Chef is a dynamic growth-oriented company committed to local communities, responsible corporate giving and bringing great people and fine restaurants together all over the country. Whether you’re a new or loyal customer, restaurant owner, marketer, publisher, media member or job seeker we’d like to stay connected and want to hear from you! </p>
                 </div>
                 <!-- Contact -->
                 
                 <div class="contact">
                    <div class="row">
                       <div class="span12">
                          <!-- Google maps -->
                          <div class="gmap">
                             <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                             <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Bucharest&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.90509,80.859375&amp;ie=UTF8&amp;hq=&amp;hnear=Bucharest,+Romania&amp;ll=44.437711,26.097367&amp;spn=1.012569,2.526855&amp;t=m&amp;z=9&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Bucharest&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.90509,80.859375&amp;ie=UTF8&amp;hq=&amp;hnear=Bucharest,+Romania&amp;ll=44.437711,26.097367&amp;spn=1.012569,2.526855&amp;t=m&amp;z=9" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                          </div>
                          
                       </div>
                    </div>
                    <a name="complaints"></a>
                    <div class="row">
                       <div class="span6">
                          <div class="cwell">
                             <!-- Contact form -->
                                <h5>Complaint</h5>
                                <hr />
                                <div class="form">
                                  <!-- Contact form (not working)-->
                                  <%= form_for Complaint.new, :html => {:class => 'horizontal-form'} do |f| %>
                                      <!-- Name -->
                                      <div class="control-group">
                                        <label class="control-label" for="name">Name</label>
                                        <div class="controls">
                                        	<%= f.text_field :name, :class => 'input-xlarge', :id => 'name' %>
                                        </div>
                                      </div>
                                      <!-- Email -->
                                      <div class="control-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                          <%= f.text_field :email, :class => 'input-xlarge', :id => 'email' %>
                                        </div>
                                      </div>
                                      <!-- Phone -->
                                      <div class="control-group">
                                        <label class="control-label" for="website">Phone</label>
                                        <div class="controls">
                                          <%= f.text_field :phone, :class => 'input-xlarge', :id => 'phone' %>
                                        </div>
                                      </div>
                                      <!-- Comment -->
                                      <div class="control-group">
                                        <label class="control-label" for="comment">Comment</label>
                                        <div class="controls">
                                          <%= f.text_area :body, :class => 'input-xplarge', :id => 'body', :rows => 5 %>
                                        </div>
                                      </div>
                                      <!-- Buttons -->
                                      <div class="form-actions">
                                         <!-- Buttons -->
                                        <button type="submit" class="btn">Submit<% f.submit %></button>
                                        <button type="reset" class="btn">Reset</button>
                                      </div>
                                  <% end %>
                                </div>
                             </div>
                       </div>
                       <div class="span6">
                             <div class="cwell">
                                <!-- Address section -->
                                   <h5>Address</h5>
                                   <hr />
                                   <div class="address">
                                       <address>
                                          <!-- Company name -->
                                          <strong>e-Chef, Inc.</strong><br>
                                          <!-- Address -->
                                          Bucharest
                                          <!-- Phone number -->
                                          <abbr title="Phone">P:</abbr> (123) 456-7890.
                                       </address>
                                        
                                       <address>
                                          <!-- Name -->
                                          <strong>Email</strong><br>
                                          <!-- Email -->
                                          <a href="mailto:#">contact@e-chef.com</a>
                                       </address>
                                       
                                       <!-- Social media icons -->
                                       <strong>Get in touch:</strong>
                                       <div class="social">
                                            <a href="#"><i class="icon-facebook"></i></a>
                                            <a href="#"><i class="icon-twitter"></i></a>
                                            <a href="#"><i class="icon-linkedin"></i></a>
                                            <a href="#"><i class="icon-google-plus"></i></a>
                                            <a href="#"><i class="icon-pinterest"></i></a>
                                       </div>
                                   </div>
                             </div>
                       </div>
                    </div>
                    
                 </div>
                 
              </div>
           </div>
        </div>
        
        
        <!-- Service ends -->
        
     </div>
  </div>