<%= form_for @complaint, :html => {:class => 'horizontal-form'} do |f| %>
	
	<% if @complaint.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @complaint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Name -->
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
    	<%= f.text_field :name, :class => 'input-xlarge', :id => 'name' %>
    </div>
  </div>
  <!-- Email -->
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <%= f.text_field :email, :class => 'input-xlarge', :id => 'email' %>
    </div>
  </div>
  <!-- Phone -->
  <div class="control-group">
    <label class="control-label" for="website">Phone</label>
    <div class="controls">
      <%= f.text_field :phone, :class => 'input-xlarge', :id => 'phone' %>
    </div>
  </div>
  <!-- Comment -->
  <div class="control-group">
    <label class="control-label" for="comment">Comment</label>
    <div class="controls">
      <%= f.text_area :body, :class => 'input-xplarge', :id => 'body', :rows => 5 %>
    </div>
  </div>
  <!-- Buttons -->
  <div class="form-actions">
     <!-- Buttons -->
    <button type="submit" class="btn">Submit<% f.submit %></button>
    <button type="reset" class="btn">Reset</button>
  </div>
<% end %>
