<div class="tabbable">

<h3>Clients' Complaints</h3>
<hr/>

<table>
	<thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Text</th>
    <th></th>
  </tr>
  </thead>

<% @complaints.each do |complaint| %>
  <tr>
    <td><%= complaint.name %></td>
    <td><%= complaint.email %></td>
    <td><%= complaint.phone %></td>
    <td><%= complaint.body %></td>
    <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>
