<%= form_for(@table, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :number , :class => "control-label"  %>
    <div class="controls">
    	<%= f.number_field :number, :class => "input-medium" %>
   	</div>
  </div>
  <div class="control-group">
    <%= f.label :persons , :class => "control-label"  %>
    <div class="controls">
    	<%= f.number_field :persons, :class => "input-medium" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button "Submit", :class => "btn", :type => "submit" %>
  </div>
<% end %>
