<div class="tabbable">
	<h3>Tables</h3>
	<hr/>

<table>
	<thead>
	  <tr>
	    <th>Number</th>
	    <th>Persons</th>
	    <th>Active order</th>
	    <th>Qr code</th>
	  </tr>
	</thead>
	
<% @tables.each do |table| %>
	<% active_orders = table.get_active_orders %>
  <tr>
    <td><%= table.number %></td>
    <td><%= table.persons %></td>
    <td>
  		<% if active_orders.present? %>
  			<% active_orders.each do |order| %>
          		<%= link_to "Order #{order.id}", "/orders/#{order.id}" %>
        	<% end %>
  		<% else %>
  			<%= link_to "New Order", "/menu/#{table.qr_code}" %>
  		<% end %>	
    </td>
    <td>
    	<%= link_to 'View QR', '/qr/' + table.qr_code, :method => :get, :target => '_blank' %>
    	<% if !active_orders.present? %>
    		<%= link_to 'Generate new QR', '/tables/change_qr/' + table.id.to_s, :method => :post%>
    	<% end %>
    </td>
  </tr>
<% end %>
</table>

</div>
