<div class="tabbable">
<h3>Listing users</h3>
<hr/>

<table>
	<thead>
  <tr>
  	<th>Username</th>
    <th>Email</th>
    <th>Name</th>
    <th>Type</th>
    <th>Created at</th>
    <th>Last sign in</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @users.each do |user| %>
  <tr>
  	<td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td>
    	<%= 'Admin' if user.admin? %>
    	<%= 'Waiter' if user.waiter? %>
    	<%= 'Chef' if user.chef? %>
    </td>
    <td><%= user.created_at %></td>
    <td><%= user.last_sign_in_at ? user.last_sign_in_at : '-' %></td>
    <td><%= link_to 'Edit', "/users/#{ user.id }/edit" %></td>
    <td><%= link_to 'Delete', '/users/%s' % user.id , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div class="button"><%= link_to 'New User', new_user_path %></div>

</div>
