<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @notification.note %>
</p>

<p>
  <b>Table:</b>
  <%= @notification.table %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
