<div class="row">
     <div class="span12">

        <!-- Careers starts -->

        <div class="career">
        	
           <div class="row">
              <div class="span12">
              	
								<div class="menu-actions">
									<%= link_to 'Menu', 'menu', method: :get %> | 
									
									<% if @order.is_open? && !@order.table.has_notification? %>
										<span id="call-waiter"><%= link_to 'Call waiter', 'order/waiter', method: :post, :remote => true %></span>
									<% else %>
										<span>Waiter called.</span>
									<% end %>
								</div>
								
								<div class="tabbable">
								<table>
									<thead>
								  <tr>
								  	<th>Photo</th>
								  	<th>Name</th>
								    <th>Time</th>
								    <th>Price</th>
								    <th>Dish Status</th>
								  </tr>
								  </thead>
								
								  <% @total    = 0 %>
								  <% @on_check = 0 %>
								  <% @subtotal = 0 %>
								
								  <% @order_dishes.each do |dish| %>
								    <% mDish = dish.dish %>
								    <% @total = @total + mDish.price %>
								    <tr tag="<%= dish.id %>">
								    	<td><%= link_to image_tag(mDish.photo.url, :style => 'width: 100px;'), mDish, :target => "_blank" %></td>
								      <td><%= mDish.name %></td>
								      <% if dish.dish_status == Constant::DS_PREPARING %>
								      	<td><%= ((dish.updated_at + dish.time * 60 - Time.now)/60).floor %></td>
								      <% else %>
								      	<td>-</td>
								      <% end %>
								      <td><strong><%= mDish.price %></strong></td>
								
								      <% if dish.is_pending? %>
								        <% @to_send = 1 %>
								        <td><%= "pending" %></td>
								        <td><%= link_to 'Remove', 'order/remove/%s' % dish.id, method: :delete, :remote => true, :confirm => "Are you sure you want to remove '%s' from your order?" % mDish.name %></td>
								      <% elsif dish.is_preparing? %>
								        <% @sent = 1 %>
								        <td class="check"><%= "preparing" %></td>
								      <% elsif dish.is_ready? %>
								        <td class="check"><%= "ready" %></td>
								      <% elsif dish.is_delivered? %>
								        <% @sent = 1 %>
								        <% @request = true %>
								        <td class="check"><%= "deliverd" %></td>
								      <% elsif dish.is_check? %>
								        <% @sent = 2 if @sent != 1%>
								        <td><%= "check" %></td>
								        <% @on_check += mDish.price %>
								      <% elsif dish.is_payed? %>
								        <% @sent = 2 if @sent != 1 %>
								        <td><%= "payed" %></td>
								      <% end %>
								
								      <% if !dish.is_check? %>
								        <% @subtotal += mDish.price %>
								      <% end %>
								    </tr>
								  <% end %>
								</table>
								
									<div class="order-buttons">
										<% if !@sent.nil? && @to_send == 1%>
											<div class="button">
												<%= link_to 'Update Order', 'order/send', method: :post, :confirm => "Are you sure you want to add the new dishes to your order?" %>
											</div>
										<% elsif @to_send == 1 %>
											<div class="button">
												<%= link_to 'Send Order', 'order/send', method: :post, :confirm => "Are you sure you want to place the order?" %>
											</div>
										<% end %>
										
										<% if @order_dishes.any? && @subtotal == 0 %>
											<p>Check requested.</p>
										<% elsif @order_dishes.any? && @subtotal != 0 && @request %>
											<p id="request-check"><%= link_to 'Request check', 'order/check', method: :post, :remote => true %></p>
										<% end %>
									</div>
									
									<div class="totals">
										<p><strong>Subtotal:</strong> <span id="subtotal"><%= "%10.2f" % @subtotal %></span></p>
										<p><strong>On Check:</strong> <span id="on-check"><%= "%10.2f" % @on_check %></span></p>
										<p><strong>Total:</strong> <span id="total"><%= "%10.2f" % @total %></span></p>
									</totals>
					</div>									
				</div>
			</div>
		</div>
	</div>
</div>
