<h1>Listing order_dishes</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Dish</th>
    <th>Time</th>
    <th>Note</th>
    <th>Dish status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_dishes.each do |order_dish| %>
  <tr>
    <td><%= order_dish.order %></td>
    <td><%= order_dish.dish %></td>
    <td><%= order_dish.time %></td>
    <td><%= order_dish.note %></td>
    <td><%= order_dish.dish_status %></td>
    <td><%= link_to 'Show', order_dish %></td>
    <td><%= link_to 'Edit', edit_order_dish_path(order_dish) %></td>
    <td><%= link_to 'Destroy', order_dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order dish', new_order_dish_path %>
