<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @order_dish.order %>
</p>

<p>
  <b>Dish:</b>
  <%= @order_dish.dish %>
</p>

<p>
  <b>Time:</b>
  <%= @order_dish.time %>
</p>

<p>
  <b>Note:</b>
  <%= @order_dish.note %>
</p>

<p>
  <b>Dish status:</b>
  <%= @order_dish.dish_status %>
</p>


<%= link_to 'Edit', edit_order_dish_path(@order_dish) %> |
<%= link_to 'Back', order_dishes_path %>
