<div class="row">
 <div class="span12">
    
    <!-- Login starts -->
    
    <div class="logreg">
       <div class="row">
          <div class="span12">
             <div class="logreg-page">
                <h3>New Booking</h3>                        
                <hr />
				<%= form_for(@booking, :html => {:class => "form-horizontal"}) do |f| %>
				  <% if @booking.errors.any? %>
				    <div id="error_explanation">
				      <ul>
				      <% if params[:booking] && !@err %>
					      <% @booking.errors.full_messages.each do |msg| %>
					        <li><%= msg %></li>
					      <% end %>
					    <% else %>
					    	<% if @booking.errors[:start_at_time].any? %>
					    		<li>Start time is invalid.</li>
					    	<% end %>
					    	<% if @booking.errors[:end_at_time].any? %>
					    		<li>End time is invalid.</li>
					    	<% end %>
					    <% end %>
				      </ul>
				    </div>
				  <% end %>
				
				  <% if !params[:booking] %>
					  <div class="control-group">
					    <%= f.label "Date", :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.text_field :start_date, :class => 'datepicker', :size => 10, :maxlength => 10 %>
					   	</div>
					  </div>
					  <div class="control-group">
					    <%= f.label "Start time", :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.text_field :start_at_time, :size => 5, :maxlength => 5 %>
					   	</div>
					  </div>
					  <div class="control-group">
					    <%= f.label "End time", :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.text_field :end_at_time, :size => 5, :maxlength => 5 %>
					   	</div>
					  </div>
					  
					  <div class="form-actions">
					    <%= f.button "Next", :class => "btn", :type => "submit" %>
					  </div>
					  
				  <% else %>
				  
					  <div class="control-group">
					    <%= f.label :name, :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.text_field :name %>
					   	</div>
					  </div>
					  <div class="control-group">
					    <%= f.label :email, :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.text_field :email %>
					   	</div>
					  </div>
					  <div class="control-group">
					    <%= f.label :phone, :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.text_field :phone %>
					    </div>
					  </div>
					  <div class="control-group">
					    <%= f.label :table, :class => "control-label" %>
					    <div class="controls book">
					    	<%= f.collection_select(:table_id, Table.all, :id, :number) %>
					    </div>
					  </div>
					  
					  <div class="form-actions">
					    <%= f.button "Make Booking", :class => "btn", :type => "submit" %>
					  </div>
					  
					  <%= link_to 'Back', '/bookings/new' %> 
					<% end %>
					
				<% end %>
				
			</div>
          </div>
       </div>
    </div>
    
    <!-- Login ends -->
    
 </div>
</div>
