<div class="tabbable">

<h3>Listing bookings</h3>
<hr/>

<table>
	<thead>
	  <tr>
	    <th>Start</th>
	    <th>End</th>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Phone</th>
	    <th>Table</th>
	    <% if current_user && (current_user.admin? || current_user.waiter?) %>
		    <th></th>
		    <th></th>
	    <% end %>
	  </tr>
	</thead>
<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.start %></td>
    <td><%= booking.end %></td>
    <td><%= booking.name %></td>
    <td><%= booking.email %></td>
    <td><%= booking.phone %></td>
    <td><%= booking.table.number %></td>
    <% if current_user && (current_user.admin? || current_user.waiter?) %>
    	<td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    	<td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<div class='button'><%= link_to 'New Booking', new_booking_path %></div>

</div>
