<div class="tabbable">

<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @booking.start %>
</p>

<p>
  <b>End:</b>
  <%= @booking.end %>
</p>

<p>
  <b>Name:</b>
  <%= @booking.name %>
</p>

<p>
  <b>Email:</b>
  <%= @booking.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @booking.phone %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @booking.confirmed %>
</p>

<p>
  <b>Table:</b>
  <%= @booking.table %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
